:root {
  --forty-red-100: #f5d7d4;
  --forty-red-200: #ebafa9;
  --forty-red-300: #e1887e;
  --forty-red-400: #d76053;
  --forty-red-500: #cd3828;
  --forty-red-600: #a42d20;
  --forty-red-700: #7b2218;
  --forty-red-800: #521610;
  --forty-red-900: #290b08;

  --forty-orange-100: #f1dccc;
  --forty-orange-200: #e4b999;
  --forty-orange-300: #d69666;
  --forty-orange-400: #c97333;
  --forty-orange-500: #bb5000;
  --forty-orange-600: #964000;
  --forty-orange-700: #703000;
  --forty-orange-800: #4b2000;
  --forty-orange-900: #251000;

  --forty-yellow-100: #fdf4dc;
  --forty-yellow-200: #fce9b9;
  --forty-yellow-300: #fadd95;
  --forty-yellow-400: #f9d272;
  --forty-yellow-500: #f7c74f;
  --forty-yellow-600: #c69f3f;
  --forty-yellow-700: #886d2b;
  --forty-yellow-800: #635020;
  --forty-yellow-900: #312810;

  --forty-green-100: #d3e5d5;
  --forty-green-200: #a7cbac;
  --forty-green-300: #7bb282;
  --forty-green-400: #4f9859;
  --forty-green-500: #237e2f;
  --forty-green-600: #1c6526;
  --forty-green-700: #154c1c;
  --forty-green-800: #0e3213;
  --forty-green-900: #071909;

  --forty-blue-100: #d1dfee;
  --forty-blue-200: #a2bfdd;
  --forty-blue-300: #74a0cb;
  --forty-blue-400: #4580ba;
  --forty-blue-500: #1760a9;
  --forty-blue-600: #124d87;
  --forty-blue-700: #0e3a65;
  --forty-blue-800: #092644;
  --forty-blue-900: #051322;

  --forty-teal-100: #cce5e6;
  --forty-teal-200: #99cacd;
  --forty-teal-300: #66b0b4;
  --forty-teal-400: #33959b;
  --forty-teal-500: #007b82;
  --forty-teal-600: #006268;
  --forty-teal-700: #004a4e;
  --forty-teal-800: #003134;
  --forty-teal-900: #00191a;

  --forty-purple-100: #e6ddf6;
  --forty-purple-200: #cdbaec;
  --forty-purple-300: #b598e3;
  --forty-purple-400: #9c75d9;
  --forty-purple-500: #8353d0;
  --forty-purple-600: #6942a6;
  --forty-purple-700: #4f327d;
  --forty-purple-800: #342153;
  --forty-purple-900: #1a112a;

  --forty-pink-100: #f2d2f0;
  --forty-pink-200: #e5a5e2;
  --forty-pink-300: #d978d3;
  --forty-pink-400: #cc4bc5;
  --forty-pink-500: #bf1eb6;
  --forty-pink-600: #991892;
  --forty-pink-700: #73126d;
  --forty-pink-800: #4c0c49;
  --forty-pink-900: #260624;

  --forty-light-100: #f2f4f8;
  --forty-light-200: #e4eaf1;
  --forty-light-300: #d7dfea;
  --forty-light-400: #c9d5e3;
  --forty-light-500: #bccadc;
  --forty-light-600: #96a2b0;
  --forty-light-700: #676f79;
  --forty-light-800: #4b5158;
  --forty-light-900: #26282c;

  --forty-dark-100: #d4d7db;
  --forty-dark-200: #a9b0b8;
  --forty-dark-300: #7f8894;
  --forty-dark-400: #546171;
  --forty-dark-500: #29394d;
  --forty-dark-600: #212e3e;
  --forty-dark-700: #19222e;
  --forty-dark-800: #10171f;
  --forty-dark-900: #080b0f;

  --forty-white-100: #fcfdfe;
  --forty-white-200: #fafbfc;
  --forty-white-300: #f7fafb;
  --forty-white-400: #f5f8f9;
  --forty-white-500: #f2f6f8;
  --forty-white-600: #c2c5c6;
  --forty-white-700: #919495;
  --forty-white-800: #616263;
  --forty-white-900: #303132;

  --forty-gray-100: #e8e8e8;
  --forty-gray-200: #d0d1d1;
  --forty-gray-300: #b9babb;
  --forty-gray-400: #a1a3a4;
  --forty-gray-500: #8a8c8d;
  --forty-gray-600: #6e7071;
  --forty-gray-700: #535455;
  --forty-gray-800: #373838;
  --forty-gray-900: #1c1c1c;

  --forty-black-100: #d3d3d3;
  --forty-black-200: #a7a7a7;
  --forty-black-300: #7a7a7a;
  --forty-black-400: #4e4e4e;
  --forty-black-500: #222222;
  --forty-black-600: #1b1b1b;
  --forty-black-700: #141414;
  --forty-black-800: #0e0e0e;
  --forty-black-900: #070707;

  --vp-c-default-1: var(--forty-gray-100);
  --vp-c-default-2: var(--forty-gray-200);
  --vp-c-default-3: var(--forty-gray-300);
  --vp-c-default-soft: var(--forty-gray-200);

  --vp-c-brand: var(--forty-blue-500);
  --vp-c-brand-1: var(--forty-blue-500);
  --vp-c-brand-2: var(--forty-blue-400);
  --vp-c-brand-3: var(--forty-blue-300);
  --vp-c-brand-soft: var(--forty-blue-200);

  --vp-c-bg: var(--forty-light-100);
  --vp-c-bg-alt: var(--forty-light-200);
  --vp-c-bg-elv: var(--forty-light-100);
  --vp-c-bg-soft: var(--forty-light-200);

  --vp-c-text-1: var(--forty-dark-900);
  --vp-c-text-2: var(--forty-dark-700);
  --vp-c-text-3: var(--forty-dark-500);

  --vp-c-border: var(--forty-dark-200);
  --vp-c-divider: var(--forty-dark-100);
  --vp-c-gutter: var(--forty-dark-200);

  --vp-c-tip-1: var(--forty-teal-800);
  --vp-c-tip-2: var(--forty-teal-500);
  --vp-c-tip-3: var(--forty-teal-300);
  --vp-c-tip-soft: var(--forty-teal-100);

  --vp-c-note-1: var(--forty-primary-800);
  --vp-c-note-2: var(--forty-primary-500);
  --vp-c-note-3: var(--forty-primary-300);
  --vp-c-note-soft: var(--forty-primary-100);

  --vp-c-success-1: var(--forty-green-800);
  --vp-c-success-2: var(--forty-green-500);
  --vp-c-success-3: var(--forty-green-300);
  --vp-c-success-soft: var(--forty-green-100);

  --vp-c-improtant-1: var(--forty-purple-800);
  --vp-c-improtant-2: var(--forty-purple-500);
  --vp-c-improtant-3: var(--forty-purple-300);
  --vp-c-improtant-soft: var(--forty-purple-100);

  --vp-c-warning-1: var(--forty-yellow-800);
  --vp-c-warning-2: var(--forty-yellow-500);
  --vp-c-warning-3: var(--forty-yellow-300);
  --vp-c-warning-soft: var(--forty-yellow-100);

  --vp-c-danger-1: var(--forty-red-800);
  --vp-c-danger-2: var(--forty-red-500);
  --vp-c-danger-3: var(--forty-red-300);
  --vp-c-danger-soft: var(--forty-red-100);

  --vp-c-caution-1: var(--forty-orange-800);
  --vp-c-caution-2: var(--forty-orange-500);
  --vp-c-caution-3: var(--forty-orange-300);
  --vp-c-caution-soft: var(--forty-orange-100);
}

.dark {
  --vp-c-default-1: var(--forty-dark-100);
  --vp-c-default-2: var(--forty-dark-200);
  --vp-c-default-3: var(--forty-dark-300);
  --vp-c-default-soft: var(--forty-dark-800);

  --vp-c-brand: var(--forty-blue-300);
  --vp-c-brand-1: var(--forty-blue-300);
  --vp-c-brand-2: var(--forty-blue-200);
  --vp-c-brand-3: var(--forty-blue-100);
  --vp-c-brand-soft: var(--forty-blue-800);

  --vp-c-bg: var(--forty-dark-900);
  --vp-c-bg-alt: var(--forty-dark-800);
  --vp-c-bg-elv: var(--forty-dark-700);
  --vp-c-bg-soft: var(--forty-dark-800);

  --vp-c-text-1: var(--forty-light-100);
  --vp-c-text-2: var(--forty-light-200);
  --vp-c-text-3: var(--forty-light-300);

  --vp-c-border: var(--forty-light-200);
  --vp-c-divider: var(--forty-light-100);
  --vp-c-gutter: var(--forty-light-200);

  --vp-c-tip-1: var(--forty-teal-100);
  --vp-c-tip-2: var(--forty-teal-200);
  --vp-c-tip-3: var(--forty-teal-100);
  --vp-c-tip-soft: var(--forty-teal-800);

  --vp-c-note-1: var(--forty-primary-100);
  --vp-c-note-2: var(--forty-primary-200);
  --vp-c-note-3: var(--forty-primary-100);
  --vp-c-note-soft: var(--forty-primary-800);

  --vp-c-success-1: var(--forty-green-100);
  --vp-c-success-2: var(--forty-green-200);
  --vp-c-success-3: var(--forty-green-100);
  --vp-c-success-soft: var(--forty-green-800);

  --vp-c-improtant-1: var(--forty-purple-100);
  --vp-c-improtant-2: var(--forty-purple-200);
  --vp-c-improtant-3: var(--forty-purple-100);
  --vp-c-improtant-soft: var(--forty-purple-800);

  --vp-c-warning-1: var(--forty-yellow-100);
  --vp-c-warning-2: var(--forty-yellow-200);
  --vp-c-warning-3: var(--forty-yellow-100);
  --vp-c-warning-soft: var(--forty-yellow-800);

  --vp-c-danger-1: var(--forty-red-100);
  --vp-c-danger-2: var(--forty-red-200);
  --vp-c-danger-3: var(--forty-red-100);
  --vp-c-danger-soft: var(--forty-red-800);

  --vp-c-caution-1: var(--forty-orange-100);
  --vp-c-caution-2: var(--forty-orange-200);
  --vp-c-caution-3: var(--forty-orange-100);
  --vp-c-caution-soft: var(--forty-orange-800);

}
